.catalog {
  max-height: 800px;
  width: 100%;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-areas: 
    "left title right"
    "left carousel right";
}

.catalog .next {
  padding-right: 5px;
  grid-area: right;
}

.catalog .previous {
  padding-left: 5px;
  grid-area: left;
}

.catalog h3 {
  grid-area: title;
}

.catalog .previous::after {
  content: '<';
}

.catalog .next::after {
  content: '>';
}

.navigation {
  padding-top: 30px;
  display: flex;
  align-items: center;
  color: white;
  z-index: 30;
  opacity: 0.5;
}

.navigation::after {
  font-size: 30px;
  text-align: center;
  z-index: 2;
}

.navigation:hover {
  transform: scale(1.5);
  opacity: 1;
  cursor: pointer;
}

.carousel {
  padding-top: 25px;
  padding-bottom: 25px;
  grid-area: carousel;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  transition: linear 500ms;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}
  
.carousel-item:hover ~ .carousel-item {
    transform: translate3d(125px, 0, 0);
}

.carousel-item > img {
  width: 250px;
  height: 140px;
  object-fit: cover;
}

.carousel-item > .details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
  color: white;
}

.carousel-item > .details:after,
.carousel-item > .details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}

.carousel-item > .details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.carousel-item > .details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -13px;
  text-align: center;
  z-index: 2;
}

.carousel-item:hover > .details {
    opacity: 1;
}

.carousel-item:hover > .details > span {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
