html {
    overflow: hidden;
}
html, body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}

body {
    background-color: #1b1b1bf1;
    overflow-y: auto;
    height: 100vh;
}

main {
    padding-bottom: 20vh;
}

.right {
    display: flex;
    justify-content: flex-end;
}

h3 {
    margin: 0;
    margin-top: 30px;
}

.invisible { display: none !important; }

header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.title-info {
    padding-bottom: 10%;
    padding-left: 50px;
    bottom: 0;
}

.btn.transparent {
    border: none;
    background-color: transparent;
    border-radius: 19px;
    color: white;
    font-size: 1.3em;
    padding: 8px;
    min-width: 160px;
    box-shadow: inset 0px 0px 27px 6px rgb(255, 255, 255, 0.4);
    cursor: pointer;
}

.btn.transparent:hover,
.btn.transparent:focus {
    box-shadow: inset 0px 0px 27px 6px rgb(255, 255, 255, 0.9);
    transform: scale(1.2);
}

.btn.transparent ~ .btn.transparent {
    margin-left: 15px;
}

@media only screen and (min-width: 760px) {
    .title-info {
        width: 40%;
    }
}
