html, body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
    color: white;
}

body {
    /* background-image: url(../images/films/lucifer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background-color: #1b1b1bf1;
    display: grid;
    grid-template-rows: 50px 1fr 30px;
}

.right {
    display: flex;
    justify-content: flex-end;
}

main {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 80px);
}

h3 {
    margin: 0;
    margin-top: 30px;
}

.invisible { display: none !important; }