.logo {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 15px;
    background-position-y: 5px;
    width: 60px;
    height: 60px;
    color: transparent;
    position: fixed;
    left: 0px;
    top: 0px;
}

nav {
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 30;
    width: 100%;
    transition: 1.5s;
    opacity: 0.3;
}

nav:hover {
    opacity: 1;
}

html:not([data-scroll='0']) nav {
    background-color: black;
    opacity: 1;
}

html:not([data-scroll='0']) header {
    background-image: none;
}

header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    background-image: url(../images/films/lucifer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 91vh;
}

nav a:first-child {
    margin-left: 60px;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
nav a:hover {
    background-color: rgba(120, 67, 144, 0.863);
    border-radius: 10px;
}

nav .profile {
    float: right;
    font-size: 0px;
}

.profile > img {
    width: 30px;
    height: 30px;
}

nav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {
        display: none;
    }
    nav a.icon {
        float: right;
        display: block;
        margin-right: 20px;
    }
    nav.responsive {
        background-color: black;
    }
    nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    nav.responsive .profile {
        float: none;
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    nav.responsive .profile > img {
        margin-right: 15px;
    }
    .title-info {
        padding-bottom: 5px;
        padding-left: 5px;
    }
}
  